body{
    font-family: Montserrat;
    font-weight: 400;
    margin: 0;
}
#top-banner{
    display: flex;
    padding: 2% 7%;
}
.tagline{
    width: 50%;
    padding: 10% 2% 2%;
}
.tagline h1{
    font-size: 50px;
    font-weight: 800;
    line-height: 1.5;
    padding: 2% 0 0 0;
    margin: 0;
}
.tagline p{
    font-size: 20px;
    font-weight: 500;
    width: 85%;
}
.special-color{
    color: rgb(44, 44, 212);
}
.order-btn{
    margin-top: 2%;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 25px;
    background-image: linear-gradient(rgb(10, 68, 134), rgb(20, 110, 228));
    color: white;
    border: none;
}
.order-btn:hover{
    background-image: linear-gradient(rgb(20, 110, 228), rgb(10, 68, 134));
    padding: 14px 22px;
    font-size: 20px;
    transition: 500ms;
}
.fit-hero{
    width: 50%;
    padding: 1%;
}

/* About Us Section */
#about-us{
    margin-top: 3%;
    display: flex;
    background-image: url(images/shape/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-pic{
    width: 50%;
    text-align: center;
    padding-bottom: 0;
    margin: 0;
}
.about-pic img{
    padding: 0%;
    padding-top: 6%;
    margin: 0%;
}
.about{
    width: 50%;
    padding: 7% 5%;
    vertical-align: middle;
}
.about h1{
    font-size: 40px;
}
.about p{
    width: 70%;
    font-weight: 500;
}
.contact-btn{
    margin-top: 5%;
    padding: 12px 20px;
    font-size: 17px;
    border-radius: 25px;
    background-image: linear-gradient(rgb(10, 68, 134), rgb(20, 110, 228));
    color: white;
    border: none;
}
.contact-btn:hover{
    background-image: linear-gradient(rgb(20, 110, 228), rgb(10, 68, 134));
    padding: 14px 22px;
    font-size: 18px;
    transition: 500ms;
}

/* My Recipies Section */
#Recipies{
    padding: 2%;
}
.recipi-head{
    padding: 2% 30%;
    text-align: center;
}
.all-recipi{
    display: flex;
    padding: 2% 10%;
}
.recipies{
    width: 50%;
    padding: 2%;
    margin: 1% 2% 2%;
    border-radius: 40px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.recipies img{
    text-align: center;
    width: 100%;
}
.recipies p{
    width: auto;
    text-align: justify;
}
.overviews{
    margin: 3% 11%;
    display: flex;
    text-align: center;
    border-radius: 35px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.overviews div{
    width: 33.33%;
    padding: 3%;  
}